body {
    width: 45%;
}

#res {
    width: 80%;
    padding: 40px;
    background-color: lightgray;
    height: 48px;
    font-size: 24px;
}

input[type=text] {
    width: 80%;
    padding: 10px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 24px;
}

#btnEql {
    background-color: darkgreen; 
    color: white;
}

#btnClr {
    background-color: darkgray; 
    color: white;
}

#btns button {
    width: 40%;
    height: 36px;
    font-size: 18px;
    margin: 0px;
    float: left;
}

@media (max-width: 1300px) {
    body {
        width: 70%;
    }   
}

@media (max-width: 600px) {
    body {
        width: 100%;
    }   
}
