body {
    background-color: rgb(22, 24, 28);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roobert";
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    text-align: center;
    gap: 3px;
    width: min(1000px, 100% - 3em);
    margin-inline:auto;
}

.wrapper > * {
    background-color: #06d85f;
}

.bar:has(input) {
    display: flex;
    flex-direction:column;
}

.label {
    font-weight: 600;
}

.input {
    padding: 10px;
    border: none;
    outline: none;
    font: inherit;
    text-align: inherit;
    font-weight: bold;
    color: white;
    background-color: #434950;
    filter: brightness(100%);
}

input::-webkit-calendar-picker-indicator {
    filter: invert() sepia() saturate() hue-rotate() brightness(100%) contrast();
}

.input:hover {
    background: #818a95;
}