body {
    width: 90%;
}

#res {
    width: 80%;
    padding: 10px;
    background-color: lightgray;
    height: 48px;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    font-size: 24px;
}

input[type=text] {
    width: 80%;
    padding: 10px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-color: rgba(0, 0, 0, .15);
    background-color: white;
    font-size: 24px;
}

#btnEql {
    background-color: darkgreen; 
    color: white;
}

#btnClr {
    background-color: darkgray; 
    color: white;
}

#btns button {
    width: 43%;
    height: 36px;
    font-size: 18px;
    margin: 0px;
    float: left;
}
